@font-face{
    font-family: "Futura";
    src: url("../assets/fonts/FuturaPTBook.otf");
    font-style: normal;
    font-weight: 100;
}

@font-face{
    font-family: "Futura";
    src: url("../assets/fonts/Futura.ttc");
    font-style: normal;
    font-weight: 200;
}

@font-face{
    font-family: "Futura";
    src: url("../assets/fonts/FuturaPTHeavy.otf");
    font-style: normal;
    font-weight: 300;
}

@font-face{
    font-family: "Futura";
    src: url("../assets/fonts/FuturaPTBold.otf");
    font-style: normal;
    font-weight: 400;
}


